.search {
    float: right;
    cursor: pointer;
    position: relative;
}

.search input {
    display: none;
    border-radius: 5px;
    height: 30px;
    border: 0.5px solid;
    position: absolute;
    right: 20px;
    top: 0;
    opacity: 0.9;
}

.search input.active {
    display: block;

}

.search img {
    position: absolute;
    right: 0;
    top: 5px;
}